---
import Login from "@/components/login";
import Layout from "@/layouts/Layout.astro";
const redirectTo = Astro.url.searchParams.get("redirectTo") as
  | string
  | undefined;
const hasError = Astro.url.searchParams.has("error");
const message = Astro.url.searchParams.get("message") as string | undefined;
---

<Layout title="Login">
  <section class="container py-8 space-y-4">
    <Login client:load {hasError} {message} {redirectTo} />
  </section>
</Layout>
