---
import Layout from '../../layouts/Layout.astro';

import { Button } from '@/components/ui/button';
import '@/styles/globals.css';
---

<Layout title="Welcome to Our Blog">
	<section class="container py-8">
    welcome to our blog
	</section>
</Layout>