---
import Hero from '@/components/hero';
import Layout from '../layouts/Layout.astro';

export const prerender = true;

---

<Layout title="Welcome to Astro.">
	<section class="container">
		<Hero/>
	</section>
</Layout>
